
* {
	font-family: 'Helvetica', sans-serif;
}

html {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.tb1 {
	width: 136px;
	height: 20px;
/*	float: left;*/
	margin: auto;
	display: inline-block;
	color: #aaa;
	padding-top: 5px;
	margin-right: -90px;
	padding-left: 15px;
	font-size: 12px;
}

div.tb1:nth-child(2) {
	padding-left: 40px;
	padding-right: -13px;
}
div.tb1:nth-child(3) {
	padding-left: -40px;
}
div.tb1:nth-child(4) {
	padding-left: -200px;
}



div.image {
	width: 1340px;
	height: 403px;
	padding-top: -10px;
	content: url(http://i.imgur.com/sOTXLTO.jpg);
}

div.sp {
	color: white;
	text-align: center;
	font-size: 36px;
	margin-top: -250px;
	position: relative;
	overflow: hidden;
}

div.tyb {
	color: white;
	text-align: center;
	font-size: 36px;
	margin-top: 0px;
	position: relative;
	overflow: hidden;
}

/*--------GREEN BOX---------*/
/*TEXT INSIDE GREEN BOX*/

div.Personal {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
}

div.fivebucks {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
	font-size: 50px;
}

div.per_month {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
}

/*END OF TEXT INSIDE GREEN BOX*/

div.fivedollar {
	width: 200px;
	height: 115px;
	background-color: #459940;
	position: relative;
	margin: auto;
}

div.gboxes {
	width: 200px;
	height: 30px;
	margin: auto;
	background-color: #EBEBEB;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	color: #aaa;
}

div.gboxesbot {
	width: 200px;
	height: 50px;
	margin: auto;
	background-color: #EBEBEB;
	border-bottom: 1px solid #ddd;
}

div span {
	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
}

div.bgb {
/*	float: left;*/
	/*margin: 200px;*/
	margin: 200px 0 0 0;
	display: inline-block;
	padding: 10px;

}

button {
	font-size: 12px;
	height:20px; 
    width:70px; 
    margin: -20px -35px; 
    position:relative;
    top:23%; 
    left:50%;;
}
/*---------END OF GREEN BOX-----------*/

/*--------BLUE BOX---------*/
/*TEXT INSIDE BLUE BOX*/

div.Personal2 {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
}

div.twentyfive {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
	font-size: 50px;
}

div.per_month2 {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
}

/*END OF TEXT INSIDE BLUE BOX*/

div.bluebox {
	width: 200px;
	height: 115px;
	background-color: #407199;
	position: relative;
	margin: auto;
}

div.greyboxes {
	width: 200px;
	height: 30px;
	margin: auto;
	background-color: #EBEBEB;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	color: #aaa;
}

div.greyboxesbot {
	width: 200px;
	height: 50px;
	margin: auto;
	background-color: #EBEBEB;
	border-bottom: 1px solid #ddd;
}

div span {
	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
}

div.bbb {
/*	float: left;*/
	/*margin: 200px;*/
	/*margin-right: -180px;*/
	/*margin-top: 200px;*/
	margin: 200px 0 0 0;
	display: inline-block;
	padding: 10px;

}

button {
	font-size: 12px;
	height:20px; 
    width:70px; 
    margin: -20px -35px; 
    position:relative;
    top:23%; 
    left:50%;;
}
/*---------END OF BLUE BOX-----------*/

/*--------BLACK BOX---------*/
/*TEXT INSIDE BLACK BOX*/

div.Personal3 {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
}

div.fortyfive {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
	font-size: 50px;
}

div.per_month3 {
	text-align: center;
	color: white;
	position: relative;
	bottom: -10px;
}

/*END OF TEXT INSIDE BLACK BOX*/

div.blackbox {
	width: 200px;
	height: 115px;
	background-color: black;
	position: relative;
	margin: auto;
}

div.greyboxes3 {
	width: 200px;
	height: 30px;
	margin: auto;
	background-color: #EBEBEB;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 12px;
	color: #aaa;
}

div.greyboxesbot3 {
	width: 200px;
	height: 50px;
	margin: auto;
	background-color: #EBEBEB;
	border-bottom: 1px solid #ddd;
}

div span {
	text-align: center;
	vertical-align: middle;
	line-height: 30px; 
}

div.bblb {
/*	float: left;*/
	/*margin: 200px;*/
	/*margin-right: -180px;*/
	/*margin-top: 200px;*/
	margin: 200px 0 0 0;
	display: inline-block;
	padding: 10px;


}

button {
	font-size: 12px;
	height:20px; 
    width:70px; 
    margin: -20px -35px; 
    position:relative;
    top:23%; 
    left:50%;;
}
/*---------END OF BLACK BOX-----------*/

div.threeboxes {  
	position: relative;
	display: inline-block;
	overflow: hidden;
	right: -290px;
/*	text-align: center;
	z-index: 1;*/
}

/*---bottom 4 text boxes start----*/

div.gsbox1 {
	position: absolute;
	display: inline-block;
	height: 130px;
	width: 280px;
	left: 320px;
	top: 860px;
}

div.gsbox2 {
	position: absolute;
	display: inline-block;
	height: 130px;
	width: 280px;
	left: 640px;
	top: 860px;
}

div.gsbox3 {
	position: absolute;
	display: inline-block;
	height: 130px;
	width: 280px;
	left: 320px;
	top: 1010px;
}

div.gsbox4 {
	position: absolute;
	display: inline-block;
	height: 130px;
	width: 280px;
	left: 640px;
	top: 1010px;
}


h3 { 
	font-size: 12px;
}

p {
	font-size: 12px;
}
/* ----END OF 4 TEXT BOXES ----*/


/* ------- Black Footer -------*/

.bottomfooter {
  position: absolute;
  bottom: -50%;
  left: 0px;
  right: 0px;
  width: 100%;
  padding: 1rem;
  background-color: black;
  text-align: center;
}

.footertext {
	color: white;
}

